.fakeimg {
    height: 200px;
    background: #aaa;
  }
.mat-card {
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: rgb(236, 236, 236);
}
.mat-card#first-card {
    padding: 0;
}

div#profile-background {
    display: flex;
    z-index: 1;
}

div#profile-background img {
    width: 100%;
    height: 300px;
    border-radius: 20px;
    object-fit: cover;
    border-color: rgb(236, 236, 236);


}

.profile-image {
    float: left;
    position: sticky;
    top: 20px;
    z-index: 2;
    border-radius: 25%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
}

div#info-data{
    padding: 10px;
    display: flex;
  
   
}

div#info-actions{
    display: flex;
}

ul#info-details{
    float:right;
    list-style-type: none;
 

}

.logo {
    width: 150px;
    height: 50px;
    object-fit: contain;

}
.header-img{
    margin-left: 20px;
    float: left;
    display: inline-flex;
    width: 120px;
    height: 70px;
    object-fit: contain;
}
.header{
    height: 80px;
    list-style-type: none;
    align-items: center;
}
.login{
    display: flex;
    float: right;
    margin-right: 5px;
    list-style-type: none;
}
.img-perfil-about{
    width: 380px;
    height: 380px;
    object-fit: cover;

}