.mat-card {
    border-radius: 32px;
    margin: 10px 10px;
    padding: 20px;
    border-color: rgb(236, 236, 236);
}
.mat-card#first-card {
    padding: 0;
}

div#profile-background {
    display: flex;
    z-index: 1;
}

div#profile-background img {
    width: 100%;
    height: 300px;
    border-radius: 32px 32px 0 0;
    object-fit: cover;
    border-color: rgb(236, 236, 236);
    


}

.profile-image {
    position: sticky;
    top: 20px;
    z-index: 2;
    border-radius: 50%;
    width: 152px;
    height: 152px;
    margin-top: -110px;
}

div#info-data{
    padding: 10px;
   
}

div#info-actions{
    display: flex;
}

ul#info-details{
    float:right;
    list-style-type: none;
 

}
/*li{
    display: inline;
}*/
.logo {
    width: 150px;
    height: 50px;
    object-fit: contain;

}